.speech {color: black;
        font-family: 'Times New Roman';
        font-size: 12px;}

.song {color: black;
       font-family: 'Franklin Gothic Medium';
       font-size: 14px}

.direction {color: black;
            font-family: sans-serif;
            font-size: 10px;}

.name {color: black;
       font-family: 'Lucida Sans';
       font-size: 16px;}

.Chorus {color: maroon;
        font-family: 'Franklin Gothic Medium';
        font-size: 16px;}

.Sillimon {color: lightcoral;
           font-family: 'Times New Roman';
           font-size: 16px;}
                  

.Pretteia {color: purple;
           font-family: 'Times New Roman';
           font-size: 16px;}

.Nicemis {color: green;
          font-family: 'Times New Roman';
          font-size: 16px;}

.direction:hover {background-color: yellow;
        color: red;}

table {border: solid 3px maroon;}

td, th {border: solid 1px red;
        text-align: center;
        padding: 10px;}

tr:nth-child(even)
    {background-color: grey;}

.Sillimon:hover {text-shadow: 2px 3px 5px forestgreen;
                 border: solid 1px green;}

.Chorus:hover {text-shadow: 2px 3px 5px forestgreen;
                 border: solid 1px green;}

.Nicemis:hover {text-shadow: 2px 3px 5px forestgreen;
                 border: solid 1px green;}

.Pretteia:hover {text-shadow: 2px 3px 5px forestgreen;
                 border: solid 1px green;}

